<div class="sessions-new">


<center>
  <h1>Listings R Us</h1>


  <%= form_for :session, url: login_path do |f| %>
    <!-- <%= f.label :email %> -->
    <i class="fas fa-user"></i> <%= f.email_field :email, placeholder: "E-mail address" %>
    <br><br>
    <!-- <%= f.label :password %> -->
    <i class="fas fa-lock"></i> <%= f.password_field :password, placeholder: "Password" %>
    <br><br>
    <%= f.submit "Log In" %>

  <% end %>
  <br>

  New to us? <%= link_to "Sign Up", '/signup' %>

</center>

</div>
