<div class="container">

<%= link_to "All Messages", conversations_path %>
<br>

<h2><%= @conversation.subject %></h2>

<% @conversation.receipts_for(current_user).each do |receipt| %>
    <div>
        <div>
          <%= receipt.message.sender.user_s %> wrote:
        </div>
        <p><%= receipt.message.body %></p>
    </div>
<% end %>

<%= form_tag conversation_messages_path(@conversation) do %>
  <div>
    <%= text_area_tag :body %>
  </div>

  <%= submit_tag %>

<% end %>

</div>
