
<div class="users-new">
<center>

  <h1>Listings R Us</h1>
<div class="users-new-form">

<%= form_for @user do |f| %>

  <table>
    <tr>
      <td align="right"><%= f.label :first_name, "First Name: " %> &nbsp; </td>
      <td align="left"><%= f.text_field :first_name, placeholder: "First Name" %> </td>
    </tr>

    <tr>
      <td align="right"><%= f.label :last_name, "Last Name: " %> &nbsp; </td>
      <td align="left"><%= f.text_field :last_name, placeholder: "Last Name" %>
       </td>
    </tr>

    <tr>
      <td align="right"><%= f.label :email, "E-mail: " %> &nbsp; </td>
      <td align="left"><%= f.email_field :email, placeholder: "E-mail address" %>
       </td>
    </tr>

    <tr>
      <td align="right"><%= f.label :password, "Create Password:" %> &nbsp; </td>
      <td align="left"><%= f.password_field :password, placeholder: "Password" %>
      </td>
    </tr>

</table>

  <br>
  <%= f.label :realtor, "Are you a realtor?" %>
  <br>
  <%= f.radio_button :realtor, true %> Yes
  <%= f.radio_button :realtor, false, checked: true %> No
  <br><br>
  <%= f.submit "Sign Up" %>
<% end %>

<br>

Already have an account? <%= link_to "Log In", '/login' %>

</div>

</center>

</div>
