<div class="container">

<h2><%= @user.first_name %>'s Profile</h2>

<% if @user.id == current_user.id %>
   <i class="fas fa-user-edit"></i> <%= link_to "Edit profile", edit_user_path(@user) %>

   <% if current_user.realtor %>
     | <i class="fas fa-plus-circle"></i> <%= link_to "Create A New Listing", new_listing_path %>
   <% end %>

<% end %>

<hr>

<h4>Name: <%= @user.user_s %> </h4>
<h4>Phone: <%= @user.phone_number %></h4>
<h4>Email: <%= @user.email %></h4>
<% if @user.realtor? %>
<h4>Firm: <%= @user.firm %></h4>
<% end %>


<% if @user.realtor %>
<hr>
  <h3>My Listings:</h3>

  <ul>
  <% @user.realtor_listings.each do |listing| %>
    <li>
      <h4><%= link_to listing.address_s, listing %></h4>
    </li>
  <% end %>
</ul>
<% end %>

<% if !@user.realtor %>
<hr>
  <h3>My Favorites:</h3>
  <ul>
  <% @user.regular_favorites.each do |favorite| %>
    <li>
      <h4><%= link_to favorite.favorited.address_s, favorite.favorited %></h4>
    </li>
  <% end %>
</ul>
<% end %>

</div>
