<h1><%= @user.first_name %>'s Page</h1>

<% if @user.id == current_user.id %>
  <i class="fas fa-user-edit"></i> <%= link_to "Edit profile", edit_user_path(@user) %>
<% end %>

<hr>

Name: <h3><%= @user.user_s %></h3>
Phone: <h3><%= @user.phone_number %></h3>
Email: <h3><%= @user.email %></h3>
<% if @user.realtor? %>
Firm: <h3><%= @user.firm %></h3>
<% end %>


<% if @user.realtor %>
<hr>
  <h3>My Listings:</h3>
  <% @user.realtor_listings.each do |listing| %>
    <div>
      <%= link_to listing.address_s, listing %>
    </div>
  <% end %>
<% end %>

<% if !@user.realtor %>
<hr>
  <h3>My Favorites:</h3>
  <% @user.regular_favorites.each do |favorite| %>
    <div>
      <%= link_to favorite.favorited.address_s, favorite.favorited %>
    </div>
  <% end %>
<% end %>
