<h1>Leave A New Review!</h1>

<%= form_for [@listing, @review], url: "/listings/#{@listing.id}" do |f| %>

  <%= f.label :cleanlines, "Clealiness Rating:" %>
  <%= f.number_field :cleanlines, within: 1..5 %>
  <br>
  <%= f.label :location, "Location Rating:" %>
  <%= f.number_field :location, within: 1..5 %>
  <br>
  <%= f.label :communication, "Communication Rating:" %>
  <%= f.number_field :communication, within: 1..5 %>
  <br>
  <%= f.label :value, "Value Rating:" %>
  <%= f.number_field :value, within: 1..5 %>
  <br>
  <%= f.label :noise_level, "Noise Level Comment:" %>
  <%= f.text_field :noise_level %>
  <br>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <br>
  <%= f.submit %>

<% end %>
